# Loops

In [3]:
print("1. Hello world")
print("2. Hello world")
print("3. Hello world")
print("4. Hello world")
print("5. Hello world")

1. Hello world
2. Hello world
3. Hello world
4. Hello world
5. Hello world

In [4]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<!-- for condition:

    statement -->

## Example 1

In [5]:
for num in list1: 
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in list1:
    # Print out even numbers
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [8]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Example 2

In [9]:
for num in list1:
    # Print out even numbers
    if num % 2 == 0:
        print(f"The number is an even number: {num}")
    #print out odd numbers 
    else:
        print(f"The number is an odd number: {num}")

The number is an odd number: 1
The number is an even number: 2
The number is an odd number: 3
The number is an even number: 4
The number is an odd number: 5
The number is an even number: 6
The number is an odd number: 7
The number is an even number: 8
The number is an odd number: 9
The number is an even number: 10

## Example 3

In [11]:
a = 3
a = a + 5
a

8

In [12]:
a = 3
a += 5 # a = a + 5
a

8

In [14]:
# Creating a simple multiplication table
mul = 5
for i in range(0, 11):
    ans = mul * i
    print(f"{mul} x {i} = {ans}")

5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [15]:
letters = "Daveworld"
for letter in letters:
    print(letter)

D
a
v
e
w
o
r
l
d

In [16]:
range(10)

range(0, 10)

In [18]:
# Example to break statement
for i in range(10):
    if i == 7:
        break
    print(i)

0
1
2
3
4
5
6

In [19]:
# Example to break statement
for i in range(10):
    if i == 7:
        continue
    print(i)

0
1
2
3
4
5
6
8
9

In [20]:
# For nested statements
for i in range(0, 5):
    for j in range(0, 5):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

In [21]:
# Example- Calculate the sum of all N natural numbers using while loop
n = 10
sum = 0
count = 1

while count  <= n:
    sum += count # sum = sum + count = 1+2 = 3 ... count <=n
    count +=1 # count = count + 1 = 2 = 3 ... 10

print(sum)

55